@using Spotify.OAuth
@model AlbumPagination

<div class="container">
    <h5>Albums</h5>
    <div class="card-deck">
        @foreach (var album in Model.Albums)
        {
            <div class="card bg-white border-0" style="width: 5px;">
                <img src="@album.Album.Images.First().Url" class="card-img-top" alt="@album.Album.Name">
                <div class="card-body">
                    <h5 class="card-title">@album.Album.Name</h5>
                    <p class="card-text">Release Date: [DEFAULT TEXT]</p>
                </div>
                <div class="card-footer bg-white">
                    <small class="text-muted">@string.Join(" | ", album.Album.Artists.Select(x => x.Name))</small>
                </div>
            </div>
        }
    </div>
</div>