@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-action="Spotify" asp-controller="Auth">See your spotify library</a>

    @if (User.Identity.IsAuthenticated)
    {
        foreach (var userClaim in User.Claims)
        {
            <p> @userClaim.Value </p>
        }
    }
</div>
